## Week 1 Project: A Comparative Analysis of Noise Pollution Across Major Indian Cities (2019-2020)

Step 1: Import Necessary Libraries

In [4]:
import pandas as pd
import numpy as np

# Set pandas to display all columns
pd.set_option('display.max_columns', None)

Step 2: Load the Dataset

In [6]:
try:
    df = pd.read_csv('RS_Session_255_AU_1338_3.csv')
    print("Dataset loaded successfully!")
except FileNotFoundError:
    print("Error: 'RS_Session_255_AU_1338_3.csv' not found. Please ensure the dataset file is in the correct folder.")

Dataset loaded successfully!

Step 3: Perform Initial Exploration

In [7]:
# Display the first 5 rows to get a feel for the data
print("--- First 5 Rows of the Dataset ---")
display(df.head())

--- First 5 Rows of the Dataset ---

,Sl.No.,Stations Name with Zone - City,Stations Name with Zone - Location,Limit in dB(A) Leq - Day - 06 AM to 10PM,Limit in dB(A) Leq - Night - 10PM to 06AM,2019 - Day - Leq. dB(A),2019 - Night - Leq. dB(A),2020 - Day - Leq. dB(A),2020 - Night - Leq. dB(A)
0,1,Bengaluru,ParisarBhawan (C),65,55,67.2,62.1,64.3,58.7
1,2,Bengaluru,Peeniya (I),75,70,63.4,58.4,62.6,60.9
2,3,Bengaluru,NisargaBhawan (R),55,45,76.4,79.1,80.2,77.4
3,4,Bengaluru,Marathali (C),65,55,73.1,72.7,71.8,71.4
4,5,Bengaluru,BTM (R),55,45,64.7,64.7,62.5,62.5

Get Dataset Information

In [8]:
# Get a concise summary of the dataframe
print("\n\n--- Dataset Info ---")
df.info()
print("\n\n--- Dataset Description ---")
display(df.describe())

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sl.No.                                     70 non-null     int64
 1   Stations Name with Zone - City             70 non-null     object
 2   Stations Name with Zone - Location         70 non-null     object
 3   Limit in dB(A) Leq - Day - 06 AM to 10PM   70 non-null     int64
 4   Limit in dB(A) Leq - Night - 10PM to 06AM  70 non-null     int64
 5   2019 - Day - Leq. dB(A)                    70 non-null     float64
 6   2019 - Night - Leq. dB(A)                  70 non-null     float64
 7   2020 - Day - Leq. dB(A)                    70 non-null     float64
 8   2020 - Night - Leq. dB(A)                  70 non-null     float64
dtypes: float64(4), int64(3), object(2)
memory usage: 5.1+ KB


--- Dataset Description ---

,Sl.No.,Limit in dB(A) Leq - Day - 06 AM to 10PM,Limit in dB(A) Leq - Night - 10PM to 06AM,2019 - Day - Leq. dB(A),2019 - Night - Leq. dB(A),2020 - Day - Leq. dB(A),2020 - Night - Leq. dB(A)
count,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
mean,35.500000,60.785714,51.642857,69.135714,65.831429,69.198571,67.225714
std,20.351085,8.831585,10.311153,7.156269,8.550016,6.435938,7.313214
min,1.000000,50.000000,40.000000,50.600000,44.700000,57.200000,51.700000
25%,18.250000,55.000000,45.000000,64.325000,59.775000,64.425000,61.075000
50%,35.500000,65.000000,55.000000,67.800000,64.350000,68.750000,68.350000
75%,52.750000,65.000000,55.000000,74.300000,72.925000,73.550000,72.400000
max,70.000000,75.000000,70.000000,87.200000,90.100000,82.800000,83.600000

Check for Missing Values

In [9]:
# Check for missing values in each column
print("\n\n--- Missing Values Check ---")
print(df.isnull().sum())

--- Missing Values Check ---
Sl.No.                                       0
Stations Name with Zone - City               0
Stations Name with Zone - Location           0
Limit in dB(A) Leq - Day - 06 AM to 10PM     0
Limit in dB(A) Leq - Night - 10PM to 06AM    0
2019 - Day - Leq. dB(A)                      0
2019 - Night - Leq. dB(A)                    0
2020 - Day - Leq. dB(A)                      0
2020 - Night - Leq. dB(A)                    0
dtype: int64