## Week 1: A Comparative Analysis of Noise Pollution Across Major Indian Cities (2019-2020)
## Week 1: Preprocessing

Step 1: Import Necessary Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import re

Step - 2: Display All Columns

In [2]:
# Set pandas to display all columns
pd.set_option('display.max_columns', None)

Step 3: Load the Dataset

In [4]:
# Load the Dataset
df = pd.read_csv("C:/Users/DELL/Downloads/Noise-Pollution-Project/RS_Session_255_AU_1338_3.csv")
print("--- Initial Data Head ---")
print(df.head())
print("\n--- Initial Data Info ---")
df.info()

--- Initial Data Head ---
   Sl.No. Stations Name with Zone - City Stations Name with Zone - Location  \
0       1                      Bengaluru                  ParisarBhawan (C)
1       2                      Bengaluru                        Peeniya (I)
2       3                      Bengaluru                  NisargaBhawan (R)
3       4                      Bengaluru                      Marathali (C)
4       5                      Bengaluru                            BTM (R)

   Limit in dB(A) Leq - Day - 06 AM to 10PM  \
0                                        65
1                                        75
2                                        55
3                                        65
4                                        55

   Limit in dB(A) Leq - Night - 10PM to 06AM  2019 - Day - Leq. dB(A)  \
0                                         55                     67.2
1                                         70                     63.4
2                                         45                     76.4
3                                         55                     73.1
4                                         45                     64.7

   2019 - Night - Leq. dB(A)  2020 - Day - Leq. dB(A)  \
0                       62.1                     64.3
1                       58.4                     62.6
2                       79.1                     80.2
3                       72.7                     71.8
4                       64.7                     62.5

   2020 - Night - Leq. dB(A)
0                       58.7
1                       60.9
2                       77.4
3                       71.4
4                       62.5

--- Initial Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sl.No.                                     70 non-null     int64
 1   Stations Name with Zone - City             70 non-null     object
 2   Stations Name with Zone - Location         70 non-null     object
 3   Limit in dB(A) Leq - Day - 06 AM to 10PM   70 non-null     int64
 4   Limit in dB(A) Leq - Night - 10PM to 06AM  70 non-null     int64
 5   2019 - Day - Leq. dB(A)                    70 non-null     float64
 6   2019 - Night - Leq. dB(A)                  70 non-null     float64
 7   2020 - Day - Leq. dB(A)                    70 non-null     float64
 8   2020 - Night - Leq. dB(A)                  70 non-null     float64
dtypes: float64(4), int64(3), object(2)
memory usage: 5.1+ KB

Step 4: Clean Column Names

In [5]:
#Cleaning the column names
def clean_col_names(df):
    cols = df.columns
    new_cols = []
    for col in cols:
        new_col = col.replace('Sl.No.', 'ID')
        new_col = new_col.replace('Stations Name with Zone - ', '')
        new_col = re.sub(r'\s*-\s*', '_', new_col)
        new_col = new_col.replace(' ', '_')
        new_col = re.sub(r'[^a-zA-Z0-9_]', '', new_col)
        new_cols.append(new_col)
    df.columns = new_cols
    return df

df = clean_col_names(df)
print("\n--- Columns After Cleaning ---")
print(df.columns)

--- Columns After Cleaning ---
Index(['ID', 'City', 'Location', 'Limit_in_dBA_Leq_Day_06_AM_to_10PM',
       'Limit_in_dBA_Leq_Night_10PM_to_06AM', '2019_Day_Leq_dBA',
       '2019_Night_Leq_dBA', '2020_Day_Leq_dBA', '2020_Night_Leq_dBA'],
      dtype='object')

Step - 5: Feature Engineering - Extract City and Location Type

In [6]:
#Feature Engineering - Extract City and Location Type
# Extract city name from the 'Stations_Name_with_Zone' column
df['City'] = df['Stations_Name_with_Zone'].str.extract(r'^(.*?)(?:\s*-\s*.*)?$')[0]
# Remove any leading/trailing whitespace
df['City'] = df['City'].str.strip()

# Extract location type abbreviation (e.g., (C), (I)) from the 'Location' column
df['Location_Type_Code'] = df['Location'].str.extract(r'\((\w)\)')

# Map the code to a full name
location_map = {
    'C': 'Commercial',
    'I': 'Industrial',
    'R': 'Residential',
    'S': 'Silence'
}
df['Location_Type'] = df['Location_Type_Code'].map(location_map)

print("\n--- Data Head After Feature Engineering ---")
print(df[['City', 'Location', 'Location_Type']].head())

--- Data Head After Feature Engineering ---
        City           Location Location_Type
0  Bengaluru  ParisarBhawan (C)    Commercial
1  Bengaluru        Peeniya (I)    Industrial
2  Bengaluru  NisargaBhawan (R)   Residential
3  Bengaluru      Marathali (C)    Commercial
4  Bengaluru            BTM (R)   Residential

Step - 6: Check for Missing Values

In [16]:
# Check for missing values
print("\n--- Missing Values Check ---")
print(df.isnull().sum())

--- Missing Values Check ---
ID                                     0
City                                   0
Location                               0
Limit_in_dBA_Leq_Day_06_AM_to_10PM     0
Limit_in_dBA_Leq_Night_10PM_to_06AM    0
2019_Day_Leq_dBA                       0
2019_Night_Leq_dBA                     0
2020_Day_Leq_dBA                       0
2020_Night_Leq_dBA                     0
Location_Type_Code                     0
Location_Type                          0
dtype: int64

In [8]:
# Dropping rows where Location_Type could not be determined, if any
df.dropna(subset=['Location_Type'], inplace=True)

Step - 7: Convert Columns to Numeric, Forcing Errors to NaN

In [9]:
# Identify columns that should be numeric
numeric_cols = [
    'Limit_in_dBA_Leq_Day_06_AM_to_10PM', 'Limit_in_dBA_Leq_Night_10PM_to_06AM',
    '2019_Day_Leq_dBA', '2019_Night_Leq_dBA', '2020_Day_Leq_dBA', '2020_Night_Leq_dBA'
]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Check for any new NaNs created
print("\n--- Missing Values After Coercion ---")
print(df.isnull().sum())

# For simplicity, we'll drop rows with missing values.
# In a real-world scenario, you might consider imputation.
df.dropna(inplace=True)

--- Missing Values After Coercion ---
ID                                     0
City                                   0
Location                               0
Limit_in_dBA_Leq_Day_06_AM_to_10PM     0
Limit_in_dBA_Leq_Night_10PM_to_06AM    0
2019_Day_Leq_dBA                       0
2019_Night_Leq_dBA                     0
2020_Day_Leq_dBA                       0
2020_Night_Leq_dBA                     0
Location_Type_Code                     0
Location_Type                          0
dtype: int64

Step - 8: Final Data Inspection

In [17]:
# Final Data Inspection
print("\n--- Final Data Info ---")
df.info()
print("\n--- Final Data Description ---")
print(df.describe())

--- Final Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   70 non-null     int64
 1   City                                 70 non-null     object
 2   Location                             70 non-null     object
 3   Limit_in_dBA_Leq_Day_06_AM_to_10PM   70 non-null     int64
 4   Limit_in_dBA_Leq_Night_10PM_to_06AM  70 non-null     int64
 5   2019_Day_Leq_dBA                     70 non-null     float64
 6   2019_Night_Leq_dBA                   70 non-null     float64
 7   2020_Day_Leq_dBA                     70 non-null     float64
 8   2020_Night_Leq_dBA                   70 non-null     float64
 9   Location_Type_Code                   70 non-null     object
 10  Location_Type                        70 non-null     object
dtypes: float64(4), int64(3), object(4)
memory usage: 6.1+ KB

--- Final Data Description ---
              ID  Limit_in_dBA_Leq_Day_06_AM_to_10PM  \
count  70.000000                           70.000000
mean   35.500000                           60.785714
std    20.351085                            8.831585
min     1.000000                           50.000000
25%    18.250000                           55.000000
50%    35.500000                           65.000000
75%    52.750000                           65.000000
max    70.000000                           75.000000

       Limit_in_dBA_Leq_Night_10PM_to_06AM  2019_Day_Leq_dBA  \
count                            70.000000         70.000000
mean                             51.642857         69.135714
std                              10.311153          7.156269
min                              40.000000         50.600000
25%                              45.000000         64.325000
50%                              55.000000         67.800000
75%                              55.000000         74.300000
max                              70.000000         87.200000

       2019_Night_Leq_dBA  2020_Day_Leq_dBA  2020_Night_Leq_dBA
count           70.000000         70.000000           70.000000
mean            65.831429         69.198571           67.225714
std              8.550016          6.435938            7.313214
min             44.700000         57.200000           51.700000
25%             59.775000         64.425000           61.075000
50%             64.350000         68.750000           68.350000
75%             72.925000         73.550000           72.400000
max             90.100000         82.800000           83.600000

Step - 9: Save the Cleaned Data

In [11]:
# Selecting relevant columns to save
final_df = df[[
    'City', 'Location_Type', 'Limit_in_dBA_Leq_Day_06_AM_to_10PM',
    'Limit_in_dBA_Leq_Night_10PM_to_06AM', '2019_Day_Leq_dBA', '2019_Night_Leq_dBA',
    '2020_Day_Leq_dBA', '2020_Night_Leq_dBA'
]]

In [12]:
# Renaming for simplicity in the next stage
final_df = final_df.rename(columns={
    'Limit_in_dBA_Leq_Day_06_AM_to_10PM': 'Limit_Day_dB',
    'Limit_in_dBA_Leq_Night_10PM_to_06AM': 'Limit_Night_dB',
    '2019_Day_Leq_dBA': 'Noise_Day_2019',
    '2019_Night_Leq_dBA': 'Noise_Night_2019',
    '2020_Day_Leq_dBA': 'Noise_Day_2020',
    '2020_Night_Leq_dBA': 'Noise_Night_2020'
})

In [19]:
# Save the cleaned data to a new CSV file
output_path = 'cleaned_noise_data.csv'
final_df.to_csv(output_path, index=False)

In [20]:
print(f"\n✅ Cleaned data successfully saved to {output_path}")

✅ Cleaned data successfully saved to cleaned_noise_data.csv